/*Font Importers*/



/*Root Vars*/
:root{
    
}

/*Body Main*/
body,html,#app{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.2rem;
    background:#959ea6;
}
*{
    box-sizing: border-box;
}